@model IList<UserViewModel>
@{
    ViewData["Title"] = "Users";
}
<div class="container mt-5 pb-5">
    <div class="text-center text-white mb-4">
        <h3>List of users</h3>
    </div>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="btn-group-sm" role="group">
            <button class="btn p-0" type="submit" asp-controller="users" asp-action="block">
                <img src="~/images/block-user-icon.png" width="48" height="48" title="Block selected users" alt="Block selected users">
            </button>
            <button class="btn p-0" type="submit" asp-controller="users" asp-action="unblock">
                <img src="~/images/unblock-user-icon.png" width="48" height="48" title="Unblock selected users" alt="Unblock selected users">
            </button>
            <button class="btn p-0" type="submit" asp-controller="users" asp-action="delete">
                <img src="~/images/delete-user-icon.png" width="48" height="48" title="Delete selected users" alt="Delete selected users">
            </button>
        </div>
        <div class="table-responsive">
            <table class="table table-light shadow text-center mb-0" id="users-table">
                <thead class="table-dark">
                    <tr>
                        <th><input type="checkbox" id="select-or-diselect-all-users-checkbox"/></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>E-mail address</th>
                        <th>Registration date</th>
                        <th>Last login date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.CheckBoxFor(userModel => Model[i].IsSelected)
                            </td>
                            <td>
                                @Html.DisplayFor(userModel => Model[i].Id)
                                @Html.HiddenFor(userModel => Model[i].Id)
                            </td>
                            <td>
                                @Html.DisplayFor(userModel => Model[i].UserName)
                                @Html.HiddenFor(userModel => Model[i].UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(userModel => Model[i].Email)
                                @Html.HiddenFor(userModel => Model[i].Email)
                            </td>
                            <td>
                                @Html.DisplayFor(userModel => Model[i].RegistrationDate)
                                @Html.HiddenFor(userModel => Model[i].RegistrationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(userModel => Model[i].LastLoginDate)
                                @Html.HiddenFor(userModel => Model[i].LastLoginDate)
                            </td>
                            <td>
                                @Html.DisplayFor(userModel => Model[i].Status)
                                @Html.HiddenFor(userModel => Model[i].Status)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>
